<!DOCTYPE html>
<html class="no-js" lang="<%%= "{@page.language.code}-#{@page.language.country_code.blank? ? @page.language.code.upcase : @page.language.country_code.upcase}" %>">
<head>
  <!-- <%= app_const_base.titleize %> <%%= Rails.application.config.version %> (<%%= l(Rails.application.config.version_time) %>) -->
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
  <%%= render "alchemy/pages/meta_data" %>

  <%%= csrf_meta_tags %>
  <%%= csp_meta_tag %>

  <%%= stylesheet_pack_tag 'application', media: 'all' %>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <%%= javascript_pack_tag 'application' %>

  <%%= yield(:head) %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="<%= app_const_base.titleize %>">
</head>
<body class="page-<%%= @page.page_layout %>">
<!--[if IE]>
<p class="browserupgrade">Sie benutzen einen <strong>veralteten</strong> Browser. Bitte
<a href="https://browsehappy.com/">aktualisieren Sir Ihren Browser</a> um diese Seite optimal zu nutzen.</p>
<![endif]-->
<%%= render 'shared/navbar' %>
<%%= yield %>

<%%= render 'alchemy/edit_mode' %>
</body>
</html>
