%meta{name: 'fullcss', content: stylesheet_path('application')}
%meta{name: 'fulljs', content: javascript_path('application')}
- if cookies['fullcss'] == 'true' || !critical_css.present?
  = stylesheet_link_tag 'application', media: 'all'
- else
  %style= raw CriticalPathCss.fetch(request.path)
:javascript
  /*! EnhanceJS: a progressive enhancement boilerplate. Copyright 2014 @scottjehl, Filament Group, Inc. Licensed MIT */
  !function(e,t){"use strict";function n(t){var n=e.document.getElementsByTagName("script")[0],a=e.document.createElement("script");return a.src=t,a.async=!0,n.parentNode.insertBefore(a,n),a}function a(t,n,a){function o(){for(var e,n=0;n<i.length;n++)i[n].href&&i[n].href.indexOf(t)>-1&&(e=!0);e?r.media=a||"all":s(o)}var r=e.document.createElement("link"),i=e.document.styleSheets;return r.rel="stylesheet",r.href=t,r.media="only x",document.getElementsByTagName('head')[0].appendChild(r),o(),r}function o(t){for(var n,a=e.document.getElementsByTagName("meta"),o=0;o<a.length;o++)if(a[o].name&&a[o].name===t){n=a[o];break}return n}function r(n,a,o){var r;if(a===t){var c=("; "+e.document.cookie).split("; "+n+"=");return 2==c.length?c.pop().split(";").shift():null}if(!1===a&&(o=-1),o){var s=new Date;s.setTime(s.getTime()+24*o*60*60*1e3),r="; expires="+s.toGMTString()}else r="";e.document.cookie=n+"="+a+r+"; path=/"}function c(){m.className+=" "+f.join(" ")}var s=e.setTimeout,i={},l=e.document,m=l.documentElement,u=(l.head||l.getElementsByTagName("head")[0],["enhanced"]),f=[];i.loadJS=n,i.loadCSS=a,i.getMeta=o,i.cookie=r;var d=o("fullcss");d&&!r("fullcss")&&(a(d.content),r("fullcss","true",7)),m.className+=" "+u.join(" ");var h=o("fulljs");if(c(),h){var g=n(h.content),p=s(function(){m.className=m.className.replace(f.join(" ")," ")},8e3);g.onload=function(){clearTimeout(p),c()}}var v=o("fonts");v&&a(v.content),e.enhance=i}(this);
%noscript
  = stylesheet_link_tag 'application', media: 'all'
