<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wartungsarbeiten</title>
    <style type="text/css">
    body {
        width: 500px;
        margin: 100px auto;
        font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }

    h1 {
        font-weight: 300;
    }
    </style>
</head>
<body>
    <h1>Wartungsarbeiten</h1>

    <p>Unsere Server sind zurzeit offline aufgrund von <%= reason ? reason : "Wartungsarbeiten" %><br>
           ab <%= Time.now.strftime("%H:%M %Z") %>.</p>

    <p>Wird sind <%= deadline ? "am #{deadline}" : "bald" %> zurück für Sie.</p>
</body>
</html>
