- provide(:title) do
  <%= singular_table_name.titleize %> ##{@<%= singular_table_name %>.id}

%table.table.table-bordered
  %tbody
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    %tr
      %th.col-sm-2 <%= attribute.human_name %>
      %td= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

%p
  = link_to 'Bearbeiten', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary'
  = link_to 'Zurück', <%= index_helper %>_path, class: 'btn btn-link'
