set :branch, ENV.fetch("CAPISTRANO_BRANCH", "development")

server "<%= production_hostname %>",
       user: "<%= privileged_user %>",
       port: 29992,
       forward_agent: true,
       roles: %w(app db web)
